@import '@fontsource/space-mono';
@import '@fontsource/poppins';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-gutter: stable both-edges;
}

p {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
