@import '@fontsource-variable/space-grotesk';
@import '@fontsource/space-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk Variable', system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-feature-settings: 'liga' 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-gutter: stable both-edges;
  color: theme(colors.blue.300);
}
